.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.main-container {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.box-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.box h2 {
  margin-bottom: 10px;
}

.box img {
  max-width: 100%;
}

.footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
